[tool.poetry]
name = "invenio-sip2"
version = "0.6.14"
description = "Invenio module that add a SIP2 communication for library self-check service"
readme = "README.rst"
authors = ["Laurent Dubois <laurent.dubois@uclouvain.be>"]
license = "GNU Affero General Public License v3.0"
repository = "https://github.com/inveniosoftware-contrib/invenio-sip2"
documentation = "https://invenio-sip2.readthedocs.io"

[tool.poetry.dependencies]
python = ">=3.7,<3.10"
invenio-base = ">=1.2.3"
invenio-access = ">=1.3.1"
jsonpickle = ">=1.2"
psutil = "^5.9.0"
pycountry = ">=19.7.15"
python-dateutil = "^2.8.2"
pytest-mock = "^3.7.0"
mock = "^4.0.3"

[tool.poetry.dev-dependencies]
pytest-invenio=">=1.4.0,<1.5.0"
autoflake = ">=1.3.1"
Sphinx = "^4.5.0"

[build-system]
requires = ["setuptools", "wheel", "babel>2.8"]
build-backend = "setuptools.build_meta"

[tool.poetry.plugins."invenio_base.apps"]
invenio_sip2 = "invenio_sip2:InvenioSIP2"

[tool.poetry.plugins."invenio_base.api_apps"]
invenio_sip2 = "invenio_sip2:InvenioSIP2"

[tool.poetry.plugins."invenio_base.blueprints"]
invenio_sip2 = "invenio_sip2.views.views:blueprint"

[tool.poetry.plugins."invenio_base.api_blueprints"]
invenio_sip2 = "invenio_sip2.views.rest:api_blueprint"

[tool.poetry.plugins."flask.commands"]
selfcheck = "invenio_sip2.cli:selfcheck"
