[tool.poetry]
name = "invenio-sip2"
version = "0.6.17"
description = "Invenio module that add a SIP2 communication for library self-check service"
readme = "README.rst"
authors = ["Laurent Dubois <laurent.dubois@uclouvain.be>"]
license = "GNU Affero General Public License v3.0"
repository = "https://github.com/inveniosoftware-contrib/invenio-sip2"
documentation = "https://invenio-sip2.readthedocs.io"
classifiers = [
    "Environment :: Web Environment",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: GNU Affero General Public License v3",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Topic :: Internet :: WWW/HTTP :: Dynamic Content",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Development Status :: 3 - Alpha",
]

[tool.poetry.dependencies]
python = ">=3.7,<3.10"
invenio-base = ">=1.2.3"
invenio-access = ">=1.3.1"
jsonpickle = ">=1.2"
psutil = "^5.9.0"
pycountry = ">=19.7.15"
python-dateutil = "^2.8.2"
mock = "^4.0.3"
SQLAlchemy = ">=1.2.18,<1.4.0"
SQLAlchemy-Utils = ">=0.33.1,<0.36"
pytest-invenio = ">=1.4.0,<1.4.12"
Flask = "<3.0.0"
markupsafe = "<2.1.0"

[tool.poetry.dev-dependencies]
pytest-invenio = ">=1.4.0,<1.4.12"
autoflake = ">=1.3.1"
Sphinx = ">=4.5.0"

[build-system]
requires = ["poetry_core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.plugins."invenio_base.apps"]
invenio_sip2 = "invenio_sip2:InvenioSIP2"

[tool.poetry.plugins."invenio_base.api_apps"]
invenio_sip2 = "invenio_sip2:InvenioSIP2"

[tool.poetry.plugins."invenio_base.blueprints"]
invenio_sip2 = "invenio_sip2.views.views:blueprint"

[tool.poetry.plugins."invenio_base.api_blueprints"]
invenio_sip2 = "invenio_sip2.views.rest:api_blueprint"

[tool.poetry.plugins."flask.commands"]
selfcheck = "invenio_sip2.cli:selfcheck"
